/*Titre de confiance*/
body{
    height: 1300px;   
}
.question{
    text-align:center;
    font-size: 20px;
}
.partie1{
    flex-direction:column;
   display: grid;
   grid-template-columns: repeat(3,1fr);
   text-align:center;
   justify-content: space-between;
   margin-top: 55px;
}
.qualité p{
    width: 230px;
}
.par{
    margin-left: 100px;
    text-align: justify;
    font-size: 18px;
}
i{
    font-size: 30px;
    color: #0f74bcbb;
}
h5{
    font-size: 16px;
}
.img1{
    height:240px ;
    width: 530px;
    margin-left: 70px;
}
.partie2{
    flex-direction:column;
    display: grid;
    grid-template-columns:43% 57%;  
}
.et{
    margin: 49px;
    font-size: 20px;
}
.mm{
    height:240px ;
    background-color: cadetblue;
    margin-right: 20PX;
}
.img2{
    height:240px ;
    width: 500px;
    margin-left: 190px;
    margin-top: 29px;
}
.cc{
    height:240px ;
    background-color: cadetblue;
   width: 659px;
    margin-top: 29px;
   margin-left: 70px;
}


/*partie pour expliquer les services*/

/* FORMULAIRE */
.mainleft{
    
    display: grid;
    background-color: #DED6D6;
    margin-top: 20px;
    margin-left: 65px;
}

input{
    width:80%;
    margin-top: 20px;
    border-radius: 5px;
    height: 30px;
    border: 1px solid black;
    margin-left: 70px;
    font-style: italic;
    padding-left: 20px;
}
/* titre de formulaire */
.titreformulaire{
    margin-left: 270px;
    margin-top: 23px;
}
/* paragraphe du formulaire */
.p{
    margin-left: 150px; 
    margin-top:-10px;
}
/* checkbox */
.checkbox{
    margin-left: -170px;
}
/* div checkbox et paragraphe */
.check{
   display: flex;
   flex-direction: row;

}
/* paragraphe de check */
.pcheck{
    margin-left: -190px;
    margin-top: 25px;
}
/* button de formulaire de validation */
.button_main{
    width: 190px;
    margin-left: 400px;
    background-color:#0f74bcbb;
}
/* image de start */
.img5{
    width: 150px;
    margin-top: -37px;
}
/* partie de formulaire et commentaire */
.dernierepartie{
    flex-direction:column;
    display: grid;
    grid-template-columns:60% 40%; 
    justify-content: space-between;
  
}
/* partie commentaire */
.mainright{
    margin-left: 25px;
    margin-top: 23px;
    }
/* image et paragraphe de commentaire */
.class1{
    display: flex;
    flex-direction: row;
  margin-top: 35px;
}
/* titre de commentaire */
.titrecommentaire{
    margin-left: 170px;
}
.pa{
    margin-LEFT: 70px;
    margin-top:-10px;
}
.footer-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between ;
    font-size: 15px;
}
.imglogo{
    width: 200px;
}





/* pour le style de ecrire de page  */

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
/* nav par de menu */
#nav1{
    height: 90px;
    background-color:#73C5F7;
    position: sticky;
    top: 0;
    z-index:1 ;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    color: rgb(7, 7, 7);
}
/* pour le logo  de site */
#div1{
    margin-left: 30px;
}

#div1 img{
    margin-top: 0px;
    width: 200px;
}
/* de list de menu  */
.div2{
    
    display: flex;
    flex-flow: row nowrap;
    margin-left: 330px;
}
/* le a de menu de navbar */
.a_menu{
font-size: 15px;
margin-left: 100px;
margin-top: -112px;
text-decoration: none;
color: rgb(0, 0, 0);
font-family: Arial, Helvetica, sans-serif;
font-size: 17px;
font-weight: bold;
}
/* pargraph de avant header */
#div2-parg p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: oblique;
    font-weight: bold;
    font-size: 10px;
    text-align: center;
}

/*****************************/
/* Styling Header Image Menu */
/*****************************/
#header-image-menu{
    background-image: url('image-hedar.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 200px 50px;
}
 
#header-image-menu img{
    width: 100%;
    margin: none;
    padding: none;
}
 /* le style de text entre image de header */
#image-text{
    
    margin-left: 67%;
    font-family:'Courier New', Courier, monospace;
    color: #000;
    transform: translate(-30%, -30%);
    text-align: center; 
}
/* le style de bouton entre image de header */
.btn{
    padding: 15px 10px;
    width:15em ;
    background-color: #000000;
    color: white;
    margin-bottom: 10px;
    margin-left: 65%;
    border-radius: 19px;
    border: 0;
    
}

                                            /*************box-shadow: 10px 10px 4px rgba(27, 43, 95, 0.247);****************/
                                                   /* for moubil  */
                                            /*****************************/
                                        
@media only screen and (max-width: 376px) {
     /* nav par de menu pour mobil */
    #nav1{
        height: 60px;
        width: 100%;
        
    }
     /* logo pour mobil */
    #div1{
        margin-left: 15px;
    }
    #div1 img{
        margin-top: 5px;
        width: 100px;
    }
     
    .div2{
        display: none;
    }
    /*  n'pas affiche de mobil
    #Imgmenu{
        width: 40px;
        margin-top: px;
    } */
    /*  n'pas affiche de mobil 
    .div3{
        display: block;
       margin-bottom: 50px;
    }
    #i-menu{
        margin-left: 250px;
        
    }*/
    /* pour icon de burger */
    nav .icon-burger{
        position: absolute;
        right: 20px;
        top: 5%;
        transform: translateY(30%);
    }
    /* le style de burger */
    nav .icon-burger .line{
        width: 30px;
        height: 5px;
        background-color: rgb(0, 0, 0);
        margin: 5px;
        border-radius: 3px;
    }
    /* header image */

    #header-image-menu{
        background-image: url('image-hedar.jpg');
        background-size:100%;
    }
    /* text  entre image de header  */
    #image-text{
    
        margin-left: 70%;
        font-family:'Courier New', Courier, monospace;
        color: #000;
        margin-top:-140px;
        font-size: 10px;
        font-weight: bold;
        width: 150px;
    }
    /* le style de bouton entre image de header */
    .btn{
    padding: 3px 5px;
    width: 80px ;
    text-align: center;
    background-color: #73C5F7;
    color: rgb(0, 0, 0);
    font-size: 8px;
    margin-left: 68%;
    border-radius: 19px;
    }
}  