/* pour le style de ecrire de page  */
*{
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
/* nav par de menu */
#nav1{
    height: 90px;
    background-color:#73C5F7;
    position: sticky;
    top: 0;
    z-index:1 ;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    color: rgb(7, 7, 7);
}
/* pour le logo  de site */
#div1{
    margin-left: 30px;
}

#div1 img{
    margin-top: 0px;
    width: 200px;
}
/* de list de menu  */
.div2{
    
    display: flex;
    flex-flow: row nowrap;
    margin-left: 330px;
}
.a_menu{
font-size: 15px;
margin-left: 100px;
margin-top: -112px;
text-decoration: none;
color: rgb(0, 0, 0);
font-family: Arial, Helvetica, sans-serif;
font-size: 17px;
font-weight: bold;
}
.div3{
    display: none;
}
@media only screen and (max-width: 376px) {
     /* nav par de menu pour mobil */
    #nav1{
        height: 50px;
        position: sticky;
        top: 0;
        z-index:1 ;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
    }
     /* logo pour mobil */
    #div1{
        margin-left: 15px;
    }
    #div1 img{
        margin-top: 50px;
        width: 90px;
    }
     /*  n'pas affiche de mobil */
    .div2{
        display: none;
    }
    #Imgmenu{
        width: 40px;
    }
    .div3{
        display: block;
        margin-top: -20px;
    }
    #i-menu{
        margin-left: 200px;
        
    }
}